body {
  padding-top: 5rem;
}

#question, .candidate-species {
  padding: 3rem 1.5rem;
  text-align: center;
}

.candidate-species {
	border-top: 2px dotted #c0c0c0;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.candidate-species .hdr {
  color: #505050;
  font-weight: bold;
}

.matcher {
  display: none;
}

#breadcrumb .nav-link {
  display: inline;
}

#breadcrumb li:not(:last-child):after {
  content: '→';
  color: rgba(255,255,255,.5);
}

.hdr {
  font-size: 1.2em;
  margin-bottom: 3.5em;
  font-weight: bold;
}

.sub {
  font-size: 0.85em;
}

.img-center {
  text-align: center;
  vertical-align: bottom;
}

.img-center img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#matcher-birds img {
  max-height: 8em;
  max-width: 10em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.beak-color {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  margin: 0 auto 10px auto;
}

.beak-c-2-1 {
  background: #892609;
}
.beak-c-2-2 {
  background: #202020;
}
.beak-c-2-3 {
  background: linear-gradient(90deg, #892609 50%, #202020 50%);
}
.beak-c-2-4 {
  background: linear-gradient(90deg, #E9CE81 50%, #202020 50%);
}

.beak-c-4-1 {
  background: linear-gradient(90deg, #E9CE81 50%, #892609 50%);
}
.beak-c-4-2 {
  background: #202020;
}
.beak-c-4-3 {
  background: linear-gradient(90deg, #E9CE81 50%, #202020 50%);
}
.beak-c-4-4 {
  background: linear-gradient(90deg, #E9CE81 33%, #892609 33% 66%, #202020 66%);
}
.beak-c-4-5 {
  background: #892609;
}
.beak-c-4-6 {
  background: linear-gradient(90deg, #892609 50%, #202020 50%);
}

.navbar-brand {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .navbar-brand {
      max-width: 190px;
    }
}
